.MnkButton {
    background: url(button.svg);
    background-color: transparent;
    border: none;
}

.MnkPlayer {
    background: url(player.svg);
    background-color: transparent;
    border: none;
}

.MnkPlayer0 {
    background: url(player0.svg);
    background-color: transparent;
    border: none;
}

.MnkPlayer1 {
    background: url(player1.svg);
    background-color: transparent;
    border: none;
}

.MnkButton00 {
    background: url(button00.svg);
    background-size: contain;
}

.MnkButtont0 {
    background: url(buttont0.svg);
    background-size: contain;
}

.MnkButton0l {
    background: url(button0l.svg);
    background-size: contain;
}

.MnkButton01 {
    background: url(button01.svg);
    background-size: contain;
}

.MnkButton10 {
    background: url(button10.svg);
    background-size: contain;
}

.MnkButton1r {
    background: url(button1r.svg);
    background-size: contain;
}

.MnkButton11 {
    background: url(button11.svg);
    background-size: contain;
}

.MnkButtonb1 {
    background: url(buttonb1.svg);
    background-size: contain;
}

.MnkButtond {
    background: url(buttond.svg);
    background-size: contain;
}

.MnkButtonn {
    background: url(buttonn.svg);
    background-size: cover;
}

.MnkButtonu {
    background: url(buttonu.svg);
    background-size: cover;
}

.MnkRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
    align-items: center;
    user-select: none;
}

.MnkPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    user-select: none;
    background-color: #C0C0C090;
}

.MnkRow div button {
    background-color: transparent;
    border: none;
}

.MnkRow:after {
    clear: both;
    content: "";
    display: table;
}

.Mnk {
    display: flex;
    flex-direction: column;
}